@import "reset.css"
@import "fonts.css"

q-extralarge()
  @media ( max-width: 1024px )
    {block}
    
q-v-large()
  @media ( max-width: 971px )
    {block}

q-large()
  @media ( max-width: 760px )
    {block}

q-medium()
  @media ( max-width: 641px )
    {block}

q-small()
  @media ( max-width: 321px )
    {block}


html
	-webkit-font-smoothing: antialiased;


content-max-width = 940px
ease-out-quad = cubic-bezier(0.250, 0.460, 0.450, 0.940)

body
	margin 0
	font-family 'Apercu-Medium'
	

/*BACKGROUND*/

#background 
	position absolute
	top 0
	width 100%
	z-index -1
	

.container
	position relative
	width 100%
	z-index 1
	

/*NAVIGATION*/
.navigation
	position absolute
	top 20px
	right 60px
	clear both
	
	z-index 2
	
	+q-medium()
		display none

.each-navigation
	display inline-block
	font-family 'Apercu-Medium'	
	font-size 15px
	margin-right 15px
	height 15px
	overflow hidden
	cursor pointer
	
.each-navigation__line
	content ''
	display block
	float left
	width 27px
	height 2px
	background-color #e9e9e9
	margin-right 9px
	margin-top 7px
	left -100%
	position relative

.nav-home:after
	content 'Home'
	display block

.nav-work:after
	content 'Work'
	display block

.nav-about:after
	content 'About'
	display block
	
.each-navigation__inner
	color black
	text-decoration none
	float left
	position relative
	top 0

.each-navigation__inner:after
	color #e9e9e9

/*INTRO*/

.intro 
	position relative
	width 100%
	text-align center

.intro__wrapper
	
	position relative
	top 45%
	left 50%
	transform translate(-50%, -50%)


.intro__name
	font-family 'Didot-Regular'
	font-size 9vw

.intro__role 
	font-family 'Apercu-Medium'
	font-size 17px
	letter-spacing 1px

.intro__works 
	position absolute
	font-family 'Apercu-Medium'
	font-size 12px
	bottom 0px
	margin 0 auto
	left 0
	right 0

.intro__works:after
	content ''
	width 1px
	height 70px
	display block
	margin 20px auto
	background-color black
	

/**
 * Work
 */

.work__header
	font-family 'Didot-Regular'
	font-size 52px
	text-align center
	
.work__project-list
	margin 20px 0 0
	padding 0
	list-style none
	counter-reset project

.work__project
	counter-increment project
	padding 0 60px
	overflow hidden
	color black
	background rgba(0, 0, 0, 0)
	transition all 150ms linear	
	
.work__project_focus
	color white
	background rgba(0, 0, 0, 1)
	transition-duration 150ms
	
.work__hit-field
	display flex
	flex-direction row
	align-items center
	position relative
	height 100px
	max-width content-max-width
	margin 0 auto
	border-top 1px solid rgba(0, 0, 0, .1)
	box-sizing border-box
	text-decoration none
	color inherit
	
.work__project:first-child .work__hit-field
	border-top-color rgba(0, 0, 0, 0)
	
.work__hit-field:after
	content: "";
	position absolute
	top 50%
	left: 100%
	width 122px
	height 21px
	margin-top -10px
	background url('../assets/img/arrow.svg') 0 0 / contain no-repeat
	transform translateX(-100%)
	transition all 300ms ease-out-quad
	
.work__hit-field_focus:after
	background-image url('../assets/img/arrow-focus.svg')
	transform translateX(0%)
	
.work__agency
	width 21%
	font-family 'Didot-Regular'
	font-size 32px
	color white
	opacity 0
	transition opacity 0 linear
	
.work__agency_focus
	opacity 1
	transition-duration 250ms
	transition-delay 50ms
	
.work__project-name
	position relative
	left -21%
	width 35%
	font-size 16px
	letter-spacing .15em
	text-transform uppercase
	transition all 300ms ease-out-quad
	
	+q-v-large()
		width 70%
	
	&:before
		content '. ' counter(project, decimal-leading-zero)
		display inline-block
		width 24%
		font-family 'Didot-Regular'
		opacity .6

.work__project-name_focus
	left 0
	
.work__meta
	display flex
	flex-direction row
	list-style none
	width 44%
	margin 0
	padding 0
	font-size 11px
	letter-spacing .15em
	text-transform uppercase
	transform translateX(-30%)
	opacity 0
	transition all 0ms step-end
	
	+q-v-large()
		display none
	
.work__meta_focus
	opacity 1
	transform translateX(0)
	transition transform 300ms ease-out-quad, opacity 300ms linear
	
.work__meta__item
	margin-left 2.5em
	
	&:first-child
		margin-left 0
	
.work__meta__field-name,
.work__meta__field-value
	display inline-block
	
.work__meta__field-value
	font-family 'Apercu-Light'


.about__header,
.awards__header,
.contact__header
	width 21%
	font-size 16px
	letter-spacing .15em
	text-transform uppercase
	white-space nowrap
	
	&:after
		content: ''
		display inline-block
		width 25px
		height 1px
		margin-left .875em
		vertical-align middle
		background black

/**
 * About
 */

.about
	max-width content-max-width
	margin 60px auto 0
	padding 0 60px
	
.about p
	margin 1em 0
	font-size 38px
	line-height 1.3157

	
/**
 * Awards
 */

.awards
	display flex
	flex-direction row
	max-width content-max-width
	margin 80px auto 0
	padding 0 60px
	
	+q-v-large()
		flex-direction column

.awards__list
	margin -.778em 0 0
	padding 0
	list-style none
	font-size 18px
	line-height 2.33
	
	+q-v-large()
		margin-top 1.5em
	
.awards__project
	font-family 'Apercu-Light'
	
.awards__project:before
	content '\2014' ' '

/**
 * Contact
 */

.contact
	display flex
	flex-direction row
	max-width content-max-width
	margin 70px auto 0
	padding 0 60px
	
	+q-v-large()
		flex-direction column
	
.contact__body
	flex 1
	
	+q-v-large()
		margin-top 1.5em

.contact__email
	display inline-block
	margin-top -.22em
	font-family 'Apercu-Light'
	font-size 36px
	text-decoration none
	color inherit
	
	+q-v-large()
		margin 0
	
.contact__social-network-list
	display flex
	flex-direction row
	margin 1.5em 0 0
	padding 0
	list-style none
	font-family 'Apercu-Bold'
	font-size 14px
	letter-spacing .15em
	text-transform uppercase

.contact__social-network
	position relative
	margin-left 7.85em
	
	&:before
		content ''
		position absolute
		top 50%
		left -4.78em
		width 1.78em
		height 1px
		background black
	
	&:first-child
		margin-left 0
		
		&:before
			content: none

.contact__social-network a
	text-decoration none
	color inherit

.contact__back-to-top
	width 21px
	height 83px
	background url('../assets/img/back-to-top.svg') no-repeat 0 0 / contain;
	
	+q-v-large()
		display none


.diamond
	width 52px
	height 42px
	margin 120px auto
	opacity .3
	background url('../assets/img/diamond.svg') no-repeat 0 0 / contain
